/static/images
/static/Leaflet.Editable.js
/static/leafletProviders.js
/static/layer
package-lock.json
/node_modules
/calculationPrograms/hydraulic/main.exe
/calculationPrograms/piezometric/main.exe
заметки.txt
/networks
/info
/calc