.bigimage-unicode-icon {
    font-size: 19px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

.bigimage-unicode-icon-disable {
    display: none !important;
}

.print-disabled {
    pointer-events: none;
    opacity: 0.3;
}

#print-params  {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.close {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 10px;
    height: 10px;
    left: 95%;
    top: -10px;
    cursor: pointer;
}

.see-btn:before {
    content: '\1F441';
}

.download-btn:before {
    content: '\2B07';
}

#print-loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -15px;
    border: 4px rgb(167, 164, 171) solid;
    border-top: 4px #52006d solid;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.download-button {
    font-family: sans-serif;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    padding: 0.3em 0.8em;
    background: rgb(199, 199, 199);
    border-radius: 0.4em;
    cursor: pointer;
    margin-top: 5px;
}