html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
td {
    border: none;
}

/* Стили контейнера с карторй и панели управления */

#wrapper {
    display: flex;
}

#map {
    height: 800px;
    width: 80%;
    margin: 0;
}

#toolsPanel {
    margin-left: 20px;
    width: 15%;
}

#toolsPanel table {
    border-collapse: separate;
    border-spacing: 2px 4px;
    margin: 10px 0 40px;
    width: 100%;
}

#toolsPanel button {
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    text-align: center;
    white-space: nowrap;
}

#buttonAddSource {
    background-image: url('icons/active/source.png');
    /* background-size: 23px; */
    background-position-y: 1px;
}

#buttonAddReservoir {
    background-image: url('icons/active/reservoir.png');
    background-position-y: -1px;
}

#buttonAddTower {
    background-image: url('icons/active/tower.png');
    background-position-y: 1px;
    background-position-x: 2px;
}

#buttonAddStandpipe {
    background-image: url('icons/active/standpipe.png');
    background-position-y: -2px;
    background-position-x: 3px;
}

#buttonAddHydrant {
    background-image: url('icons/active/hydrant.png');
    background-position-x: 6px;
    background-position-y: 1px;
}

#buttonAddWell {
    background-image: url('icons/active/well.png');
    background-position-y: 2px;
    background-position-x: 6px;
}

#buttonAddWell label{
    padding-left: 20px;
}

#buttonAddBranch {
    background-image: url('icons/active/branch.png');
    background-position-y: 5px;
    background-position-x: 9px;
}

#buttonAddConsumer {
    background-image: url('icons/active/consumer.png');
    background-position-y: 3px;
    background-position-x: 8px;
}

/* Стили контекстного меню объектов */
.popupButton {
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
}

.popupButton:hover {
    background-color: rgba(236, 236, 236, 0.61);
}

.popupButton:active, .popupButton:focus {
    outline: none;
}

table {
    width: 100%;
}

.leaflet-popup-content-wrapper caption {
    font-size: 1.3em;
    font-weight: 500;
}

.leaflet-popup-content-wrapper table {
    border-collapse: separate;
    border-spacing: 2px;
}

/* Стилизация переключателя режим объекта */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    top: 3px;
    border: 1px solid black;
    border-radius: 16px;
}

.switch input {
    display: none;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(250, 3, 3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
background-color: #09ff00;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #09ff00;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switch-container {
    font: 400 13.3333px Arial;
    padding-left: 6px;
    padding-bottom: 20px;
}