html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
td {
    border: none;
}

/* Стили контейнера с карторй и панели управления */
#wrapper {
    display: flex;
}

#map {
    height: 665px;
    width: 80%;
    margin: 0;
}

#toolsPanel {
    margin-left: 20px;
    width: 240px;
}

#toolsPanel div {
    margin-top: 15px;
}

#toolsPanel button {
    font-size: 1em;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    text-align: center;
    white-space: nowrap;
}

#toolsPanel label {
    cursor: pointer;
}


#buttonAddSource {
    background-image: url('./images/panel_icons/water/source.png');
    background-size: 30px;
    background-position-x: 3px;
    background-position-y: 3px;
}

#buttonAddReservoir {
    background-image: url('./images/panel_icons/water/reservoir.png');
    background-size: 33px;
    background-position-x: 2px;
    background-position-y: 0px;
}

#buttonAddTower {
    background-image: url('./images/panel_icons/water/tower.png');
    background-size: 33px;
    background-position-x: 2px;
    background-position-y: 2px;
}

#buttonAddStandpipe {
    background-image: url('./images/panel_icons/water/standpipe.png');
    background-size: 28px;
    background-position-x: 3px;
    background-position-y: -1px;
}

#buttonAddHydrant {
    background-image: url('./images/panel_icons/water/hydrant.png');
    background-size: 25px;
    background-position-x: 5px;
    background-position-y: 1px;
}

#buttonAddWell {
    background-image: url('./images/panel_icons/water/well.png');
    background-size: 25px;
    background-position-x: 4px;
    background-position-y: 1px;
}

#buttonAddWell label{
    padding-left: 12px;
}

#buttonAddBranch {
    background-image: url('./images/panel_icons/water/branch.png');
    background-size: 18px;
    background-position-x: 7px;
    background-position-y: 4px;
}

#buttonAddConsumer {
    background-image: url('./images/panel_icons/water/consumer.png');
    background-size: 23px;
    background-position-x: 4px;
    background-position-y: 2px;
}

/* Стили контекстного меню объектов */
.popupButton {
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
}

.popupButton:hover {
    background-color: rgba(236, 236, 236, 0.61);
}

.popupButton:active, .popupButton:focus {
    outline: none;
}

table {
    width: 100%;
}

.leaflet-popup-content-wrapper caption {
    font-size: 1.3em;
    font-weight: 500;
}

.leaflet-popup-content-wrapper table {
    border-collapse: separate;
    border-spacing: 2px;
}

/* Стилизация переключателя режим объекта */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    top: 3px;
    border: 1px solid black;
    border-radius: 16px;
}

.switch input {
    display: none;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(250, 3, 3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
background-color: #09ff00;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #09ff00;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switch-container {
    font: 400 13.3333px Arial;
    padding-left: 6px;
    padding-bottom: 20px;
}

#buttonsOfControlSchema {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blackout {
    display: none;
    z-index: 1000;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#savePopup, #schemaList {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    z-index: 1100;
    background-color: rgb(108, 245, 131);
    border: 2px solid black;
    border-radius: 20px;

    width: 20%;
    padding: 10px;
    font-size: 1.1em;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#savePopup p {
    margin-bottom: 5px;
}

#savePopup input {
    border: none;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}

#savePopup button, #schemaList button {
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

#savePopup input:focus {
    outline: none;
}

#schemaList select {
    width: 100%;
}

#schemaList p {
    margin-bottom: 5px;
}

#schemaList select {
    margin-bottom: 5px;
}

#schemaList span {
    margin-bottom: 10px;
}

#schemaList select:focus {
    outline: none;
}